@import "partials/_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Cabin);
//or you could have just written partials/reset

//general styles

//media breakpoint mixin
$breakpoints: (
  'medium': 500px,
  'large':  900px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

$colorindex1: 125;

$bckcolor: hsl($colorindex1,0%, 100%);
$bckcolordark: hsl($colorindex1, 0%, 75%);
$basecolor: hsl($colorindex1, 85%, 25%);
$lightcolor: hsl($colorindex1, 55%, 79%);
$medcolor: hsl($colorindex1, 85%, 75%);
$darkcolor: hsl($colorindex1, 55%, 15%);
$meddarkcolor: hsl($colorindex1, 85%, 55%);
$fontcolor: hsl($colorindex1, 100%, 5%);
$greycolor: hsl($colorindex1, 5%, 50%);
$formbgcolor: hsl($colorindex1, 55%, 98%);
$shadowcolor: hsl($colorindex1, 0%, 25%);

$colorindex2: 54;

$fieldcolor1: hsla($colorindex2,100%, 90%, 0.5);
$fieldcolor2: hsla($colorindex2,100%, 90%, 0.5);

$fieldcolor1-ul: hsla($colorindex2,100%, 90%, 0.6);
$fieldcolor2-ul: hsla($colorindex2,100%, 90%, 1);

$fontmain: 'Cabin', sans-serif;

body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: $fontmain;
  color: $fontcolor;

}

header {

  padding: 30px;


  h1 {

    text-align: center;
    color: $basecolor;
    padding: 20px;
    font-size: 36px;
    background: linear-gradient($fieldcolor1, $fieldcolor2);
    box-shadow: 3px 3px 3px $shadowcolor;


    @include respond-to('medium') {
      font-size: 40px;
    }

    @include respond-to('large') {
      font-size: 54px;
    }

  }


}


#mainform{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  @include respond-to('medium') {
    flex-direction: row;
  }


  .form-title {
    padding: 10px;
    background: linear-gradient($fieldcolor1, $fieldcolor2);
    box-shadow: 0px 3px 3px $shadowcolor;
  }

  .form-description {
    padding: 10px;
    background: linear-gradient($fieldcolor1, $fieldcolor2);
    box-shadow: 0px 3px 3px $shadowcolor;
  }

  input {
    border: solid 1px $darkcolor;

    &:focus{
      outline: none;
      background-color: $formbgcolor;
      border: solid 1px $basecolor;
    }
  }



}

button {
  display: block;
  font-family: $fontmain;
  font-weight: bold;
  color: $basecolor;
  background: linear-gradient($bckcolor, $bckcolordark);
  padding: 15px;
  border-radius: 50%;
  border: 1px solid $shadowcolor;
  transition: all 0.2s ease;
  box-shadow: 3px 3px 3px $shadowcolor;


  &#add_shopping_list_item_button {
    margin: auto;
  }

  &:focus{
    outline: none;
    box-shadow: 0px 0px 0px $shadowcolor;
  }


}

ul {
  text-align: center;
  margin: auto;
  max-width: 400px;
  background: linear-gradient($fieldcolor1-ul, $fieldcolor2-ul);
  box-shadow: 3px 3px 3px $shadowcolor;

}

li {

  display: flex;
  text-align: left;
  padding: 5px;


  &.completed_true {
    background-color: $lightcolor;
  }

  .list-name {
    text-transform: capitalize;
    margin: 5px;
  }

  .list-description {

    text-transform: capitalize;
    margin: 5px;
  }

  .checkboxdiv {
    padding: 5px;
    align-self: flex-start;
  }

  .checkbox {
    &:focus {
      outline: none;
    }
  }

  .deletediv {
    padding: 5px;
    align-self: flex-start;
  }

  .delete {
    height: 20px;
    width: 20px;
  }

  .list-text {
    flex: 1 1 50%;
  }

  h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }

  p {
    color: $greycolor;
    word-wrap: break-word;
    max-width: 300px;

  }

}

