@import "partials/_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Lobster);
//or you could have just written partials/reset

//general styles

//media breakpoint mixin
$breakpoints: (
  'medium': 500px,
  'large':  800px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

$primary-color: lightblue;

body {
  background-color: $primary-color;
}

header {

  padding: 30px;


  h1 {
    font-family: 'Lobster';
    text-align: center;
    color: purple;
    border: 1px solid blue;
    padding: 20px;
    transition: all 1s ease;

    &:hover {
      color: darken($primary-color,50%);
      background-color: lightblue;
    }

    @include respond-to('medium') {
      font-size: 40px;
    }

    @include respond-to('large') {
      font-size: 60px;
    }

  }


}

form {

  background-color: purple;
  text-align: right;
  max-width: 260px;
  margin: auto;

  .form-title {
    background-color: green;
  }

  .form-description {
    background-color: yellow;
  }
}

button {
  display: block;

  &#add_shopping_list_item_button {
    margin: auto;
  }
}

ul {
  text-align: center;
  max-width: 400px;
  background-color: white;
  margin: auto;
}

li {

  display: flex;


  margin: 10px;
  text-align: left;

  &.completed_true {
    background-color: lightgreen;
  }

  .list-name {

    text-transform: capitalize;
    margin: 5px;
  }

  .list-description {

    text-transform: capitalize;
    margin: 5px;
  }

  .checkboxdiv {
    padding: 5px;

    align-self: flex-start;
  }

  .deletediv {
    padding: 5px;

    align-self: flex-start;
  }

  .delete {
    height: 20px;
    width: 20px;
  }

  .list-text {

    flex: 1 1 auto;
  }

}

