@import url(https://fonts.googleapis.com/css?family=Lobster);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: lightblue; }

header {
  padding: 30px; }
  header h1 {
    font-family: 'Lobster';
    text-align: center;
    color: purple;
    border: 1px solid blue;
    padding: 20px;
    transition: all 1s ease; }
    header h1:hover {
      color: #235e71;
      background-color: lightblue; }
    @media only screen and (min-width: 500px) {
      header h1 {
        font-size: 40px; } }
    @media only screen and (min-width: 800px) {
      header h1 {
        font-size: 60px; } }

form {
  background-color: purple;
  text-align: right;
  max-width: 260px;
  margin: auto; }
  form .form-title {
    background-color: green; }
  form .form-description {
    background-color: yellow; }

button {
  display: block; }
  button#add_shopping_list_item_button {
    margin: auto; }

ul {
  text-align: center;
  max-width: 400px;
  background-color: white;
  margin: auto; }

li {
  display: flex;
  margin: 10px;
  text-align: left; }
  li.completed_true {
    background-color: lightgreen; }
  li .list-name {
    text-transform: capitalize;
    margin: 5px; }
  li .list-description {
    text-transform: capitalize;
    margin: 5px; }
  li .checkboxdiv {
    padding: 5px;
    align-self: flex-start; }
  li .deletediv {
    padding: 5px;
    align-self: flex-start; }
  li .delete {
    height: 20px;
    width: 20px; }
  li .list-text {
    flex: 1 1 auto; }
